.gallery-item__content-text {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 25px 15px 31px 21px;
  background-color: #FFFFFF;
}
