.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 464px) {
  .profile__info {
    align-items: center;
  }
}
