.gallery__content-text {
  box-sizing: border-box;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 15px 0 21px;
  background-color: #FFFFFF;
}
