.profile__username {
  margin: 0 18px 0 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
}

@media screen and (max-width: 648px) {
  .profile__username {
    font-size: 31px;
    line-height: 37px;
  }
}

@media screen and (max-width: 464px) {
  .profile__username {
    font-size: 27px;
    line-height: 33px;
  }
}
