.profile__edit-avatar-button {
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 101%;
  height: 101%;
  background: url('/src/images/icons/icon-pencil-big.svg') center center no-repeat rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border-radius: 48%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 0s 1s;
}



