.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

@media screen and (max-width: 756px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 464px) {
  .profile {
    padding-top: 42px;
  }
}
