.gallery-item__like {
  all: unset;
  width: 22px;
  height: 19px;
  background-image: url('../../../images/icons/like.svg');
  cursor: pointer;
  transition: opacity .2s ease-in;
}

.gallery-item__like:hover {
  opacity: 50%;
}
