.footer__text {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #545454;
}

@media screen and (max-width: 464px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}
