.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: opacity .2s ease-in;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 464px) {
  .profile__avatar {
    margin: 0 0 26px 0;
  }
}
